.c-btn {
    &__normal {
        display: block;
        text-align: center;
        padding: 20px 50px;
        border-radius: 50px;
        text-decoration: none;
        background-image: linear-gradient(45deg, #694fc4 0%, #c54a7f 100%);
        &:hover {
            background-image: linear-gradient(#c54a7f 100%);
        }
    }
    &__skeleton {
        display: block;
        text-align: center;
        padding: 20px 50px;
        border-radius: 50px;
        text-decoration: none;
        border: solid 1px $font_color;
        &:hover {
            background-color: rgba(255, 255, 255, 0.2);
        }
    }
    &__square {
        display: block;
        margin: 0 -10px;
        padding: 20px 10px;
        &:hover {
            background-color: rgba(255, 255, 255, 0.2);
        }
    }
    &__main {
        display: block;
        height: 23px;
        width: 200px;
        padding: 20px 50px;
        border-radius: 50px;
        text-decoration: none;
        background-image: linear-gradient(45deg, #694fc4 0%, #c54a7f 100%);
        text-align: center;
        margin: 0 auto;
        &:hover {
            background-image: linear-gradient(#c54a7f 100%);
        }
    }
}
@media screen and (max-width: 1024px) {
    /*　画面サイズが1024pxからはここを読み込む　*/
    .c-btn {
        &__normal {
            display: none;
            /*display: inline-block;*/
            text-align: center;
            padding: 20px 50px;
            border-radius: 50px;
            text-decoration: none;
            background-image: linear-gradient(45deg, #694fc4 0%, #c54a7f 100%);
            &:hover {
                background-image: linear-gradient(#c54a7f 100%);
            }
        }
        &__skeleton {
            display: none;
            /*display: inline-block;*/
            text-align: center;
            padding: 20px 50px;
            border-radius: 50px;
            text-decoration: none;
            border: solid 1px $font_color;
            &:hover {
                background-color: rgba(255, 255, 255, 0.2);
            }
        }
        &__square {
            display: none;
            /*display: inline-block;*/
            margin: 0 -10px;
            padding: 20px 10px;
            &:hover {
                background-color: rgba(255, 255, 255, 0.2);
            }
        }
    }
}
