.p-procedure {
    width: $width_main_inside;
    margin: 0 auto;
    ul {
        display: flex;
        justify-content: space-between;
        padding-bottom: 100px;
    }
}
@media screen and (max-width: 1024px) {
    /*　画面サイズが1024pxからはここを読み込む　*/
    .p-procedure {
        width: 100%;
        margin: 0 auto;
    }
}
