@charset "UTF-8";
/**
 * YUI 3.5.0 - reset.css (http://developer.yahoo.com/yui/3/cssreset/)
 * http://cssreset.com
 * Copyright 2012 Yahoo! Inc. All rights reserved.
 * http://yuilibrary.com/license/
 */
/*
TODO will need to remove settings on HTML since we can't namespace it.
TODO with the prefix, should I group by selector or property for weight savings?
*/
html {
  color: #000;
  background: #fff;
  overflow: scroll;
  overflow: -moz-scrollbars-vertical;
  overflow-x: scroll;
}

/*TODO remove settings on BODY since we can't namespace it.*/
/*TODO test putting a class on HEAD.- Fails on FF.*/
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset,
img {
  border: 0;
}

/*TODO think about hanlding inheritence differently, maybe letting IE6 fail a bit...*/
address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

caption,
th {
  text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

q:before,
q:after {
  content: "";
}

abbr,
acronym {
  border: 0;
  font-variant: normal;
}

/* to preserve line-height and selector appearance */
sup {
  vertical-align: text-top;
}

sub {
  vertical-align: text-bottom;
}

input,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

/*to enable resizing for IE*/
input,
textarea,
select {
  *font-size: 100%;
}

/*because legend doesn't inherit in IE */
legend {
  color: #000;
}

#wrapper {
  margin: 0;
  padding: 0;
}

#content {
  margin: 0;
  padding: 0;
}

/* YUI CSS Detection Stamp */
#yui3-css-stamp.cssreset {
  display: none;
}

/*補足*/
a {
  text-decoration: none;
}

html {
  overflow-x: hidden;
}

body {
  color: #fff;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 1em;
  background-color: #0f0f0f;
}

a {
  color: #fff;
}

h2 {
  font-size: 2.5em;
  letter-spacing: 10px;
  font-weight: 600;
  text-align: center;
  padding: 200px 0 75px;
}

@media screen and (max-width: 1024px) {
  /*　画面サイズが1024pxからはここを読み込む　*/
  h2 {
    font-size: 1.5em;
  }
}

.l-header {
  width: 230px;
  height: 100vh;
  position: fixed;
  padding: 0 10px 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #2c2c2c;
  z-index: 10;
}

.l-header h1 {
  padding: 10px 0;
}

.l-header__btn li {
  margin-bottom: 20px;
}

@media screen and (max-width: 1024px) {
  /*　画面サイズが1024pxからはここを読み込む　*/
  .l-header {
    width: 100vw;
    height: 75px;
    position: fixed;
    padding: 0;
    display: block;
    text-align: center;
  }
  .l-header h1 img {
    text-align: center;
  }
  .l-header__btn {
    height: 75px;
  }
}

.l-main {
  margin-left: 250px;
  width: auto;
}

@media screen and (max-width: 1024px) {
  /*　画面サイズが1024pxからはここを読み込む　*/
  .l-main {
    padding-left: 0;
    margin: auto 20px;
  }
}

.l-footer {
  margin-left: 250px;
  border-top: solid 1px #fff;
}

.l-footer__sns {
  width: 174px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  padding-top: 50px;
}

.l-footer__txt {
  font-size: 0.75em;
  width: 360px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  padding-top: 30px;
}

.l-footer__copy {
  font-size: 0.75em;
  text-align: center;
  padding: 30px 0 50px;
}

@media screen and (max-width: 1024px) {
  /*　画面サイズが1024pxからはここを読み込む　*/
  .l-footer {
    margin-left: 0;
  }
}

.p-mainvisual {
  position: relative;
  text-align: center;
  overflow: hidden;
}

.p-mainvisual__img img {
  -webkit-filter: brightness(30%);
          filter: brightness(30%);
  width: 100vw;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
}

.p-mainvisual__txt {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0;
}

.p-mainvisual__txt .p-mainvisual__txt1 {
  letter-spacing: 2px;
}

.p-mainvisual__txt .p-mainvisual__txt1 span {
  font-size: 2em;
}

.p-mainvisual__txt p {
  font-size: 1.2em;
  padding-bottom: 30px;
}

.p-mainvisual__txt img {
  padding: 0 0 50px 0;
}

.p-mainvisual__txt .p-mainvisual__login {
  font-size: 1em;
  padding-top: 20px;
}

.p-mainvisual__txt .p-mainvisual__login a {
  text-decoration: underline;
}

.p-mainvisual__txt .p-mainvisual__login a:hover {
  color: #834eb0;
}

@media screen and (max-width: 1024px) {
  /*　画面サイズが1024pxからはここを読み込む　*/
  .p-mainvisual {
    clear: both;
    margin-left: -20px;
    margin-right: -20px;
    position: relative;
    text-align: center;
    overflow: hidden;
  }
  .p-mainvisual__img img {
    -webkit-filter: brightness(20%);
            filter: brightness(20%);
    height: 100vh;
  }
  .p-mainvisual__txt {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 0;
  }
  .p-mainvisual__txt .p-mainvisual__txt1 {
    letter-spacing: 2px;
  }
  .p-mainvisual__txt .p-mainvisual__txt1 span {
    font-size: 2em;
  }
  .p-mainvisual__txt p {
    font-size: 1.2em;
    padding-bottom: 30px;
  }
  .p-mainvisual__txt img {
    padding: 0 0 50px 0;
  }
  .p-mainvisual__txt .p-mainvisual__login {
    font-size: 0.8em;
    padding-top: 20px;
  }
  .p-mainvisual__txt .p-mainvisual__login a {
    text-decoration: underline;
  }
  .p-mainvisual__txt .p-mainvisual__login a:hover {
    color: #834eb0;
  }
}

@media screen and (max-width: 678px) {
  .p-mainvisual__txt .p-mainvisual__txt1 {
    font-size: 0.7em;
  }
  .p-mainvisual__txt img {
    width: 70%;
  }
  .p-mainvisual__txt .p-mainvisual__login {
    font-size: 0.6em;
  }
}

.p-contents {
  width: 1071px;
  margin: 0 auto;
  padding-top: 50px;
}

.p-contents h3 {
  font-size: 1.5em;
  font-weight: 500;
  padding: 50px 0 10px 55px;
}

.p-contents p {
  padding: 100px 0 20px;
  text-align: center;
}

@media screen and (max-width: 1024px) {
  /*　画面サイズが1024pxからはここを読み込む　*/
  .p-contents {
    width: 100%;
    margin: 0 auto;
    padding-top: 50px;
  }
  .p-contents h3 {
    font-size: 1.2em;
  }
}

.p-point {
  width: 800px;
  margin: 0 auto;
}

.p-point__wrap_1, .p-point__wrap_2, .p-point__wrap_3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 100px;
}

.p-point__wrap_1 .p-point__subttl, .p-point__wrap_2 .p-point__subttl, .p-point__wrap_3 .p-point__subttl {
  font-size: 2em;
  font-weight: 500;
  width: 346px;
}

.p-point__wrap_1 .p-point__txt, .p-point__wrap_2 .p-point__txt, .p-point__wrap_3 .p-point__txt {
  font-size: 1.2em;
  padding-top: 10px;
  line-height: 1.8em;
  width: 346px;
}

.p-point__wrap_1, .p-point__wrap_3 {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-flow: row-reverse;
          flex-flow: row-reverse;
}

.p-point .sp {
  display: none;
}

@media screen and (max-width: 1024px) {
  /*　画面サイズが1024pxからはここを読み込む　*/
  .p-point {
    width: 100%;
    margin: 0 auto;
  }
  .p-point__wrap_1, .p-point__wrap_2, .p-point__wrap_3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-bottom: 100px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .p-point .p-point__subttl {
    padding-top: 20px;
    font-size: 1.5em;
    font-weight: 500;
    width: 346px;
  }
  .p-point .p-point__subttl br {
    display: none;
  }
  .p-point .p-point__txt {
    font-size: 1em;
    padding-top: 10px;
    line-height: 1.8em;
    width: 346px;
  }
  .p-point .sp {
    display: inline;
  }
}

.p-procedure {
  width: 1000px;
  margin: 0 auto;
}

.p-procedure ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 100px;
}

@media screen and (max-width: 1024px) {
  /*　画面サイズが1024pxからはここを読み込む　*/
  .p-procedure {
    width: 100%;
    margin: 0 auto;
  }
  .p-procedure ul {
    height: 1170px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.p-question {
  padding-bottom: 300px;
}

.c-accordion {
  margin: 0 auto;
  width: 1000px;
}

.c-accordion__toggle {
  display: none;
}

.c-accordion__option {
  position: relative;
  margin-bottom: 1em;
}

.c-accordion .title,
.c-accordion .content {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  -webkit-transition: all 1s;
  transition: all 1s;
}

.c-accordion .title {
  background-color: #2c2c2c;
  padding: 1em;
  display: block;
  color: #fff;
}

.c-accordion .title::after,
.c-accordion .title::before {
  content: "";
  position: absolute;
  right: 1.25em;
  top: 1.25em;
  width: 2px;
  height: 0.75em;
  background-color: #fff;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.c-accordion .title::after {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.c-accordion .content {
  max-height: 0;
  overflow: hidden;
}

.c-accordion .content p {
  margin: 0;
  padding: 0.5em 1em 1em;
  font-size: 0.8em;
  line-height: 1.5;
  background-color: #2c2c2c;
}

.c-accordion__toggle:checked + .title + .content {
  max-height: 500px;
  -webkit-transition: all 2.5s;
  transition: all 2.5s;
}

.c-accordion__toggle:checked + .title::before {
  -webkit-transform: rotate(90deg) !important;
          transform: rotate(90deg) !important;
}

.c-accordion__toggle:checked + .title::before {
  -webkit-transform: rotate(45deg) !important;
          transform: rotate(45deg) !important;
}

.c-accordion__toggle:checked + .title::after {
  -webkit-transform: rotate(135deg) !important;
          transform: rotate(135deg) !important;
}

@media screen and (max-width: 1024px) {
  /*　画面サイズが1024pxからはここを読み込む　*/
  .c-accordion {
    margin: 0 auto;
    width: 100%;
  }
}

.c-btn__normal {
  display: block;
  text-align: center;
  padding: 20px 50px;
  border-radius: 50px;
  text-decoration: none;
  background-image: linear-gradient(45deg, #694fc4 0%, #c54a7f 100%);
}

.c-btn__normal:hover {
  background-image: -webkit-gradient(linear, left top, left bottom, to(#c54a7f));
  background-image: linear-gradient(#c54a7f 100%);
}

.c-btn__skeleton {
  display: block;
  text-align: center;
  padding: 20px 50px;
  border-radius: 50px;
  text-decoration: none;
  border: solid 1px #fff;
}

.c-btn__skeleton:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.c-btn__square {
  display: block;
  margin: 0 -10px;
  padding: 20px 10px;
}

.c-btn__square:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.c-btn__main {
  display: block;
  height: 23px;
  width: 200px;
  padding: 20px 50px;
  border-radius: 50px;
  text-decoration: none;
  background-image: linear-gradient(45deg, #694fc4 0%, #c54a7f 100%);
  text-align: center;
  margin: 0 auto;
}

.c-btn__main:hover {
  background-image: -webkit-gradient(linear, left top, left bottom, to(#c54a7f));
  background-image: linear-gradient(#c54a7f 100%);
}

@media screen and (max-width: 1024px) {
  /*　画面サイズが1024pxからはここを読み込む　*/
  .c-btn__normal {
    display: none;
    /*display: inline-block;*/
    text-align: center;
    padding: 20px 50px;
    border-radius: 50px;
    text-decoration: none;
    background-image: linear-gradient(45deg, #694fc4 0%, #c54a7f 100%);
  }
  .c-btn__normal:hover {
    background-image: -webkit-gradient(linear, left top, left bottom, to(#c54a7f));
    background-image: linear-gradient(#c54a7f 100%);
  }
  .c-btn__skeleton {
    display: none;
    /*display: inline-block;*/
    text-align: center;
    padding: 20px 50px;
    border-radius: 50px;
    text-decoration: none;
    border: solid 1px #fff;
  }
  .c-btn__skeleton:hover {
    background-color: rgba(255, 255, 255, 0.2);
  }
  .c-btn__square {
    display: none;
    /*display: inline-block;*/
    margin: 0 -10px;
    padding: 20px 10px;
  }
  .c-btn__square:hover {
    background-color: rgba(255, 255, 255, 0.2);
  }
}

.c-slider {
  width: 1071px;
  margin: 0 auto;
}

.c-slider li img {
  width: 98%;
  height: auto;
  margin: 0 auto;
}

.c-slider .slick-next {
  right: 0 !important;
}

.c-slider .slick-prev {
  left: 0 !important;
}

.c-slider .slick-arrow {
  width: initial !important;
  height: initial !important;
  z-index: 2 !important;
}

.c-slider .slick-arrow:before {
  font-size: 30px !important;
}

.c-slider .prev_icon {
  position: absolute;
  top: 49%;
  left: 0;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  z-index: 1;
}

.c-slider .next_icon {
  position: absolute;
  top: 49%;
  right: 0;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  z-index: 1;
}

.c-slider__slider img {
  width: 326px;
  height: auto;
}

@media screen and (max-width: 1024px) {
  /*　画面サイズが1024pxからはここを読み込む　*/
  .c-slider {
    width: 100%;
    margin: 0 auto;
  }
  .c-slider li img {
    width: 98%;
    height: auto;
    margin: 0 auto;
  }
  .c-slider .slick-next {
    right: 0 !important;
  }
  .c-slider .slick-prev {
    left: 0 !important;
  }
  .c-slider .slick-arrow {
    width: initial !important;
    height: initial !important;
    z-index: 2 !important;
  }
  .c-slider .slick-arrow:before {
    font-size: 30px !important;
  }
  .c-slider .prev_icon {
    position: absolute;
    top: 49%;
    left: 0;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
    z-index: 1;
  }
  .c-slider .next_icon {
    position: absolute;
    top: 49%;
    right: 0;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
    z-index: 1;
  }
  .c-slider__slider img {
    width: 326px;
    height: auto;
  }
}

.c-search {
  display: inline-block;
  position: relative;
}

.c-search::before {
  content: "";
  width: 20px;
  height: 20px;
  background: url(../images/search.svg) no-repeat center center/auto 100%;
  display: inline-block;
  position: absolute;
  top: 10px;
  left: 15px;
}

.c-search input {
  background-color: #2c2c2c;
  border-radius: 30px;
  border: solid 1px #fff;
  color: #fff;
  padding: 10px 0 10px 3.5em;
  font-size: 0.8em;
}

@media screen and (max-width: 1024px) {
  /*　画面サイズが1024pxからはここを読み込む　*/
  .c-search {
    display: none;
  }
}

.c-hamburger .nav_toggle,
.c-hamburger .nav {
  display: none;
}

@media screen and (max-width: 678px) {
  .c-hamburger {
    /* ハンバーガーのマーク */
    /* クリックされた後のハンバーガーのマーク */
    /* クリックで表示されるメニュー：クリックされる前 */
    /* クリックで表示されるメニュー：クリックされた後 */
  }
  .c-hamburger .nav_togglewrap {
    text-align: left;
    margin-top: -75px;
  }
  .c-hamburger .nav_toggle {
    margin: 25px;
    display: inline-block;
    position: relative;
    width: 1.75rem;
    height: 1.5rem;
    z-index: 2;
  }
  .c-hamburger .nav_toggle i {
    display: inline-block;
    width: 100%;
    border-radius: 2px;
    height: 2px;
    background-color: #fff;
    position: absolute;
    -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
    transition: opacity 0.5s, -webkit-transform 0.5s;
    transition: transform 0.5s, opacity 0.5s;
    transition: transform 0.5s, opacity 0.5s, -webkit-transform 0.5s;
  }
  .c-hamburger .nav_toggle i:nth-child(1) {
    top: 0;
  }
  .c-hamburger .nav_toggle i:nth-child(2) {
    top: 0;
    bottom: 0;
    margin: auto;
  }
  .c-hamburger .nav_toggle i:nth-child(3) {
    bottom: 0;
  }
  .c-hamburger .nav_toggle.show i:nth-child(1) {
    -webkit-transform: translateY(10px) rotate(-45deg);
            transform: translateY(10px) rotate(-45deg);
  }
  .c-hamburger .nav_toggle.show i:nth-child(2) {
    opacity: 0;
  }
  .c-hamburger .nav_toggle.show i:nth-child(3) {
    -webkit-transform: translateY(-12px) rotate(45deg);
            transform: translateY(-12px) rotate(45deg);
  }
  .c-hamburger .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: fixed;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity 0.2s, visibility 0.2s;
    transition: opacity 0.2s, visibility 0.2s;
    background-color: #2c2c2c;
    z-index: 1;
  }
  .c-hamburger .nav_menu_li {
    margin-bottom: 30px;
    padding-bottom: 20px;
    text-align: left;
  }
  .c-hamburger .nav_menu_li a {
    color: #fff;
    text-decoration: none;
  }
  .c-hamburger .nav.show {
    opacity: 1;
    visibility: visible;
  }
}
/*# sourceMappingURL=style.css.map */